.logo {
  background-color: #4ea0ff;
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
}

.piccola {
  width: 300px;
  height: auto;
  margin-top: 100px;
}

h1 {
  font-size: 75px;
}

.autori {
  color: #858585;
  font-size: 20px;
}

.lorem1 {
  font-size: 20px;
}

.lorem2 {
  font-size: 20px;
}

.tabella {
  width: 100%;
  border-collapse: collapse;
  background-color: #d9f0ff;
  margin: 20px 0;
}

.tabella th,
.tabella td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.tabella th {
  background-color: #42a0d3;
  font-weight: bold;
  color: white;
}

.lorem3 {
  font-size: 20px;
}

h3 {
  color: #838383;
  font-size: 20px;
}

.about {
  width: 50px;
}
